*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:white;
}


/* HEADER */

header{
    height:90px;
    background:#fff;
    color:#111;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
}

.logo{
    font-size:32px;
    font-weight:800;
    letter-spacing:1px;
}

nav a{
    color:#111;
    text-decoration:none;
    margin-left:18px;
    font-size:15px;
}


/* HERO */

.hero{
    height:520px;
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    align-items:center;
    padding-left:60px;
}


.hero-content{
    max-width:650px;
}


.hero h1{
    font-size:52px;
    font-weight:800;
    margin-bottom:20px;
}


.hero p{
    font-size:20px;
    font-weight:600;
    margin-bottom:35px;
}


button{
    padding:16px 35px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}


.btn-main{
    background:#ed302f;
    color:white;
    border:none;
    margin-right:15px;
}


.btn-outline{
    background:transparent;
    color:white;
    border:1px solid white;
}


/* PRODUCTS */

.products{
    background:#111;
    padding:70px 50px;
    text-align:center;
}


.products h2{
    font-size:32px;
    margin-bottom:50px;
}


.cards{

    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:25px;

    max-width:1300px;
    margin:auto;

}


.card{

    background:#222;
    border:1px solid #333;

    min-height:190px;

    padding:35px 20px;

    display:flex;
    flex-direction:column;
    justify-content:center;

    transition:.3s;

}


.card:hover{

    border-color:#ed302f;
    transform:translateY(-8px);

}


.card h3{

    font-size:20px;
    margin-bottom:20px;

}


.card p{

    font-size:15px;
    line-height:1.6;
    color:#ddd;

}


/* RESPONSIVE */

@media(max-width:1000px){

.cards{

grid-template-columns:repeat(2,1fr);

}

}


@media(max-width:600px){

header{

padding:0 20px;

}


nav{

display:none;

}


.hero{

padding-left:25px;

}


.hero h1{

font-size:38px;

}


.cards{

grid-template-columns:1fr;

}

}
